* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
  color: #171717;
  font-size: 16px;
  font-weight: 300;
  background-color: #FFFFFF;
}

.btnSearch {
  background: #171717;
  padding: 5px 5px;
  border: 0;
  border-radius: 50%;
  color: #FFFFFF;
  width: 35px;
  height: 35px;
  transition: all 0.5s;
}
.btnSearch:hover {
  background: #f7f5f5;
}
.btnSearch:focus {
  box-shadow: none;
}

.buyBtn-red {
  background: #FF0000;
  padding: 10px 30px;
  border: 1 solid transparent;
  border-radius: 50px;
  color: #FFFFFF;
  box-shadow: 0px 3px 3px rgba(255, 0, 0, 0.15);
  transition: all 0.5s;
}
.buyBtn-red:hover {
  background: #FFD600;
  color: #171717;
}
.buyBtn-red:focus {
  box-shadow: none;
}

.btn-addToCard {
  background: linear-gradient(50deg, #00a1ff, #00ff80);
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  transition: all 0.5s;
}
.btn-addToCard:hover {
  outline: none;
  background: linear-gradient(50deg, rgba(0, 162, 255, 0.5019607843), rgba(0, 255, 128, 0.5019607843));
}
.btn-addToCard:focus {
  box-shadow: none;
  background: linear-gradient(130deg, #00ff80, #00a1ff);
}

.btnLogIn {
  background: #171717;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  transition: all 0.5s;
}
.btnLogIn:hover {
  background: #F3F3F3;
  color: #171717;
}
.btnLogIn:focus {
  box-shadow: none;
}

.btnMinus {
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  background: #FFFFFF;
  padding: 8px 15px;
  border: 1px solid #757575;
  border-radius: 4px 0 0 4px;
  transition: all 0.5s;
  text-align: center;
  border-right: none;
}
.btnMinus:hover {
  background-color: #DCDCDC;
  outline: none;
}
.btnMinus:hover:focus {
  box-shadow: none;
}

.btnPlus {
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  background: #FFFFFF;
  padding: 8px 15px;
  border: 1px solid #757575;
  border-radius: 0 4px 4px 0;
  transition: all 0.5s;
  text-align: center;
  border-left: none;
}
.btnPlus:hover {
  background-color: #DCDCDC;
  outline: none;
}
.btnPlus:hover:focus {
  box-shadow: none;
}

@media screen and (max-width: 576px) {
  .buyBtn-red,
  .btn-addToCard,
  .btnLogIn {
    font-size: 13px;
  }
}
header {
  background: #D9D9D9;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
}
header .navbar {
  background: #D9D9D9;
  height: 70px;
  display: flex;
  padding: 0;
  align-items: center;
}
header .navbar a img {
  height: 36px;
  width: 130px;
}
header .navbar .header__content {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .header__content .header__item {
  width: 80%;
}
header .navbar .header__content .header__item .header__search .relative {
  position: relative;
  width: 100%;
}
header .navbar .header__content .header__item .header__search .relative .absolute {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 20px;
}
header .navbar .header__content .header__item .header__search .relative input {
  border-color: transparent;
  border-radius: 50px;
  background-color: #D9D9D9;
  box-shadow: 0px 3px 3px rgba(17, 17, 17, 0.1);
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0 20px;
}
header .navbar .header__content .header__cart,
header .navbar .header__content .header__like {
  margin-top: 20px;
  width: 10%;
}
header .navbar .header__content .header__cart .nav-link,
header .navbar .header__content .header__like .nav-link {
  padding: 8px 0;
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  justify-content: center;
  color: #171717;
}
header .navbar .header__content .header__cart .nav-link .total-qtycard,
header .navbar .header__content .header__like .nav-link .total-qtycard {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  background: #FF0000;
  height: 16px;
  right: 0;
  top: -4px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 150%;
  padding: 0.5px 5px;
}
header .navbar .header__content .header__cart .nav-link .total-qtylike,
header .navbar .header__content .header__like .nav-link .total-qtylike {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  background: #FF0000;
  height: 16px;
  right: 0;
  top: -4px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 150%;
  padding: 0.5px 5px;
}

@media screen and (max-width: 768px) {
  header .navbar a img {
    width: 0;
  }
  header .navbar .header__content {
    width: 100%;
  }
}
.menuCybersoft {
  background: #f7f5f5;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  margin-top: 70px;
}
.menuCybersoft .container {
  padding: 0;
}
.menuCybersoft .container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menuCybersoft .container .navbar .menuCybersoft__left,
.menuCybersoft .container .navbar .menuCybersoft__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav,
.menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav {
  flex-direction: row;
}
.menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .active .nav-link,
.menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .active .nav-link {
  color: #171717;
}
.menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link,
.menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link {
  list-style: none;
  text-decoration: none;
}
.menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link i,
.menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link i {
  font-size: 0;
}
.menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link:hover,
.menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link:hover {
  color: #171717;
}
.menuCybersoft .container .navbar .menuCybersoft__left .nav-link {
  padding-right: 30px;
}
.menuCybersoft .container .navbar .menuCybersoft__right .nav-link {
  padding-left: 30px;
}

@media screen and (max-width: 768px) {
  .menuCybersoft {
    font-size: 13px;
    z-index: 20;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.05);
    margin-top: 0;
  }
  .menuCybersoft .container {
    max-width: 400px;
    margin: auto;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link,
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link i,
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link i {
    font-size: 16px;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link span,
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link span {
    font-size: 9px;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link .menu-contact,
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link .menu-contact {
    font-size: 0;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link {
    justify-content: flex-start;
  }
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 350px) {
  .menuCybersoft .container {
    max-width: 320px;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link i,
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link i {
    font-size: 13px;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link span,
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link span {
    font-size: 7px;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left .navbar-nav .nav-link .menu-contact,
  .menuCybersoft .container .navbar .menuCybersoft__right .navbar-nav .nav-link .menu-contact {
    font-size: 0;
  }
  .menuCybersoft .container .navbar .menuCybersoft__left {
    width: 30%;
  }
}
.profileCybersoft {
  background: #DCDCDC;
  padding: 50px 0;
  line-height: 1.5;
}
.profileCybersoft .container {
  padding: 30px 0;
  text-align: center;
}
.profileCybersoft .container h1 {
  color: #171717;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.profileCybersoft .container .profileCybersoft__content {
  background: #757575;
  box-shadow: 0px 6px 6px rgba(23, 23, 23, 0.3);
  padding: 30px;
  max-width: 500px;
  margin: 0 auto 50px;
  display: flex;
  flex-wrap: wrap;
}
.profileCybersoft .container .profileCybersoft__content .profile__left {
  padding-right: 30px;
}
.profileCybersoft .container .profileCybersoft__content .profile__left img {
  width: 80px;
  height: 80px;
}
.profileCybersoft .container .profileCybersoft__content .profile__right {
  width: 70%;
}
.profileCybersoft .container .profileCybersoft__content .profile__right .profile__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.profileCybersoft .container .profileCybersoft__content .profile__right .profile__item h6 {
  color: #171717;
  font-size: 16px;
  font-weight: 700;
}
.profileCybersoft .container .profileCybersoft__content .profile__right .profile__item p {
  width: 70%;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 8px;
  text-align: left;
}
.profileCybersoft .container .profileCybersoft__content .profile__right .profile__item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .profileCybersoft {
    margin-top: 70px;
  }
}
@media screen and (max-width: 430px) {
  .profileCybersoft .container h1 {
    font-size: 20px;
  }
  .profileCybersoft .container .profileCybersoft__content {
    max-width: 430px;
    margin: 0 auto 60px;
  }
  .profileCybersoft .container .profileCybersoft__content .profile__left {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .profileCybersoft .container .profileCybersoft__content .profile__left img {
    width: 120px;
    height: 120px;
  }
  .profileCybersoft .container .profileCybersoft__content .profile__right {
    width: 100%;
    margin: 20px;
  }
  .profileCybersoft .container .profileCybersoft__content .profile__right .profile__item p {
    width: 65%;
  }
}/*# sourceMappingURL=profile.css.map */